:root {
    --white: #fff;
    --gray-dark:#121214;
    --gray-medium:  #323238;
    --gray-semiDark: #202024;
    --gray-light: #c4c4c4;

    --green-medium: #00875f;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-dark);
    color: var(--gray-light);
    -webkit-font-soothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
